<header id="header" class="header">
<div class="header-top hidden-xs">
  <div class="container">
      <div class="hdr-left"> ISO 9001:2015 Certified </div>
      <div class="hdr-right">
          <a href="tel:918420197208" class="ph-no"><img src="assets/images/icon/icon1.png" alt="" /></a>
          <a href="tel:918420197208" class="ph-no"><i class="fa fa-mobile" aria-hidden="true"></i> +91-8420197208</a>
          <a href="#" class="request-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> REQUEST A QUOTE</a>
      </div>
  </div>
</div>

<div class="header-bottm">
<div class="container"> 

    <div class="row">
        <div class="col-sm-12">            
        <nav class="nav ">

        <div class="logo pull-left">
            <a routerLink="/index"><img src="assets/images/common/logo.png" alt="Webguru"/></a>
        </div>

        <a href="javascript:void(0)" class="menu"> <span> </span> <span> </span> <span> </span> </a>

        <ul class="">
            <li>
                <a routerLink="/index">Home</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li class="nav-dropdown">
                <a href="javascript:void(0)">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="dropdown-block">
                    <div class="dropdown-section">
                        <ul class="sub-menu">                            
                            <li> <a href="#">Website Design <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                                <ul>
                                    <li> <a href="#">Small Business Website</a> </li>
                                    <li> <a href="#">Corporate Website </a> </li>
                                    <li> <a href="#">eCommerce Website Design</a> </li>
                                    <li> <a routerLink="/cms-development">CMS Development</a></li>
                                    <li> <a href="#">Web Application Development</a></li>
                                </ul>
                            </li>
                            <li> <a routerLink="/mobile-app-development">Mobile App Development <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                                <ul>
                                    <li> <a href="#">Android App Development</a> </li>
                                    <li> <a href="#">iOS App Development</a> </li>
                                    <li> <a href="#">Hybrid App Development</a> </li>
                                </ul>
                            </li>
                            <li> <a routerLink="/digital-marketing">Digital Marketing</a>
                                <ul>
                                    <li> <a href="#">SEO</a> </li>
                                    <li> <a href="#">SMM</a> </li>
                                    <li> <a href="#">PPC</a> </li>
                                </ul>
                            </li>
                            <li> <a href="#">Branding Solution</a>
                                <ul>
                                    <li> <a href="#">Logo Design</a> </li>
                                    <li> <a href="#">Corporate Identity Design</a> </li>
                                    <li> <a href="#">Brochure Design</a> </li>
                                </ul>
                            </li>
                            <li> <a href="#">Media Solution</a>
                                <ul>
                                    <li> <a href="#">Explainer Video</a> </li>
                                    <li> <a href="#">PPT Presentation</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-bottom">
                        <strong>Come and Explore us</strong>
                        <a href="javascript:void(0);">DOWNLOAD OUR COMPANY PROFILE <i class="fa fa-angle-right"></i> </a>
                        <img alt="" class="pdf-icon msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/common/pdf-icon.png" data-img-ratio="48:55"/>
                    </div>
                </div>

            </li>
            <li class="nav-dropdown"> 
                <a href="#">Technology <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="dropdown-block">
                    <div class="dropdown-section">
                        <ul class="sub-menu">                            
                            <li> <a href="#">Web Technologies <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                                <ul>
                                    <li> <a href="#">PHP Programming</a> </li>
                                    <li> <a href="#">NodeJS Development </a> </li>
                                    <li> <a href="#">Bootstrap / Mobile Responsive</a> </li>
                                    <li> <a href="#">SASS/LESS/Materialize Design</a></li>
                                    <li> <a href="#">HTML5 Canvas</a></li>
                                    <li> <a href="#">Angular JS / Angular</a></li>
                                </ul>
                            </li>
                            <li> <a href="#">CMS Technologies <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                                <ul>
                                    <li> <a href="#">Wordpress Development</a> </li>
                                    <li> <a href="#">Drupal Development </a> </li>
                                    <li> <a href="#">Joomla Development</a> </li>
                                </ul>
                            </li>
                            <li> <a href="#">eCommerce Technologies</a>
                                <ul>
                                    <li> <a href="#">Magento Development</a> </li>
                                    <li> <a href="#">Shopify Development </a> </li>
                                    <li> <a href="#">BigCommerce</a> </li>
                                    <li> <a href="#">WooCommerce Development</a> </li>
                                    <li> <a href="#">OpenCart Development </a> </li>
                                </ul>
                            </li>
                            <li> <a href="#">Mobile Technologies</a>
                                <ul>
                                    <li> <a href="#">Swift</a> </li>
                                    <li> <a href="#">Java</a> </li>
                                    <li> <a href="#">jQuery Mobile</a> </li>
                                    <li> <a href="#">Ionic Development</a> </li>
                                </ul>
                            </li>
                            <li> <a href="#">Databases (MySQL + MongoDB)</a> </li>
                        </ul>
                    </div>
                    <div class="nav-bottom">
                        <strong>Come and Explore us</strong>
                        <a href="javascript:void(0);">DOWNLOAD OUR COMPANY PROFILE <i class="fa fa-angle-right"></i> </a>
                        <img alt="" class="pdf-icon msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/common/pdf-icon.png" data-img-ratio="48:55"/>
                    </div>
                </div>
            </li>
            <li> <a href="#">Clients</a> </li>
            <li> <a href="#">Hire Us</a> </li>
            <li> <a href="#">BLOG</a></li>
            <li> <a href="#">Contact</a> </li>

        </ul>       

    </nav>
    </div>
    </div>
    
</div>
</div>
<div class="request-btn-holder">
    <a class="request-btn-right hidden-xs" href="#">REQUEST A QUOTE</a> 
    <a class="scroll-to-top hidden-xs" href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>

</header>

<a href="#" class="request-btn visible-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>