<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 hidden-xs">
                <ul class="ftr-main-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
                <ul class="ftr-secondary-nav">
                    <li><a href="#">Why Choose Us </a></li>
                    <li><a href="#">Freebies</a></li>
                    <li><a href="#">We Are Hiring</a></li>
                    <li><a href="#">Press Release</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5">
                <ul class="social hidden-xs">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
                <p class="copy-right">© 2017 Webguru Infosystems Pvt. Ltd. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>