// Mobile App Development Style

@import '../../sass-components/variables';
@import '../../sass-components/mixins';
@import '../../sass-components/extends';
@import '../../sass-components/common';

#mobile-app-development-page{

	@extend .inner-page-banner-extend;
	@extend .intro-extend;
	@extend .btn-group-extend;
	@extend .services-extend;
	@extend .call-us-extend;
	@extend .choose-us-extend;
	@extend .portfolio-extend;
	@extend .order-row-extend;
	@extend .newsletter-extend;
	@extend .blog-extend;
	@extend .certificates-extend;

	h2{
		color: #052033;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    text-transform: none;
	}

	.mobile-app-banner{ 
		background-image:url(../../assets/images/common/inner-page-banner-bg.jpg);
	}

	.services-section{		
		.heading-content-holder{
			padding-bottom: 30px;
			h2{
				margin-bottom: 13px;
			}
		}
	}	

	.video-holder{
		background:#dfdfdf; 
		padding:15px;
	}
	.services-section{
		.service-block{
			padding-bottom:35px;
		}
	 h2{ margin-bottom:35px;}	 
	}

	.tech-mob-solutions{
		h3{
			font-size: 21px;
			color: $color-pink;
			margin-bottom: 16px;
			margin-top: 0px;
		}
		ul{
			list-style: none;
			margin: 0px;
			padding:0px;
			li{
				width: 100%;
				padding-left:10px;
				background:url(assets/images/common/bullet.png) no-repeat 0 9px;
				padding-bottom:10px;
				a{
					font-size: 15px;
					color: #2c2c2c;
					&:hover{
						text-decoration: none;
						color: $color-pink;
					}
				}
			}
		}
	}

	.development-process-sec{
		.development-process{
			padding-bottom:35px;
			padding-left:15px;
			padding-right:15px;
			.icon-holder{
				float: left;
				width: 65px;				
			}
			.content-holder{
				overflow: hidden;
					h3{
						font-size: 21px;
						color: $color-pink;
						margin-bottom: 10px;
						margin-top: 0px;
				}				
			}			
		}
	}

	
	.portfolio-sec{
		background-color: #f7f7f7; 
		padding-bottom: 50px;
	}
	.business-benefits{
		background: #f3f3f3;
	}
	.newsletter-sec{
		background: #f3f3f3;
	}

}