<div id="brand-identity-page">
	<section class="inner-page-banner brand-identity-banner">
	  <div class="container">    
	    <div class="banner-inr">
	      <div class="row">
	        <div class="col-sm-3 col-xs-12 banner-right-image pull-right">
	          <img class="msd-lazyload" data-src="assets/images/brand-identity/brand-banner-img.png" src="assets/images/blank.gif" data-img-ratio="143:453" alt="" />
	        </div>
	        <div class="col-sm-9 col-xs-12 banner-left-content">
	          <h1>BRANDING SOLUTIONS</h1>
	          <p>Help your business cut through the noise in the market with our uniquely tailored brand identity design services. Whether you need logo design, corporate explainer videos or business presentation templates, WebGuru provides all types of branding solutions for your needs under one umbrella.</p>
	          <ul>
	            <li><a href="#" class="banner-btn">Quick Inquiry</a></li>
	            <li>CALL US: <a href="tel:+913340200844">+91-33-40200844</a></li>
	          </ul>
	        </div>	        
	      </div>
	    </div>
	  </div>
	</section>

	<section class="intro-sec">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-7">
	        <h2>Brand Identity Design</h2>
	        <h4>Build an Image that inspires other brands</h4>
	        <p>For any business, brand building can be a confusing and difficult endeavour. This is where WebGuru steps in to simplify the entire process of brand identity design for you. We provide top-notch brand identity solutions to ensure your business develops a unique identity and stands apart from competition. We have a passionate team committed to providing the highest quality of services for you.</p>
	        <ul class="btn-group">
	          <li><a href="#" class="btn-individual">Request a Quote</a></li>
	          <li><a href="#" class="btn-individual">See our Work</a></li>
	        </ul>
	      </div>
	      <div class="col-sm-5 hidden-xs"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-identity-design.jpg" data-img-ratio="435:318" alt="" /></div>
	    </div>
	  </div>
	</section>

	<section class="services-section">
	    <div class="container">
	        <div class="row">
	          
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon1.png" data-img-ratio="36:42" alt="" /> Logo design</h3>
	              <p>Business logo design is at the very core of business identity and can make or break perceptions about a brand. Logos should be unique, iconic, eye catching, ensure quick  recall, and most importantly reflect your business identity and as a design agency we execute all these parameters perfectly. Our unique logo design services strive to deliver an end result that stands out in design, reflects your brand in the best way and triggers instant recall.</p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon2.png" data-img-ratio="36:42" alt="" /> Corporate identity design</h3>
	              <p>Corporate identity design helps you establish a visual aesthetic for your business, propagate your unique image further and provide clear separation from competition. Instruments within the realm of corporate identity include unique business card designs, letterheads and custom business envelopes among others. Other options in this category include leaflets, stickers, packaging material design, ID cards and more. We provide professional corporate identity design services that are effective and uniquely tailored to your needs. </p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon3.png" data-img-ratio="36:42" alt="" /> Marketing and promotional material</h3>
	              <p>These are the tools that help market your brand physically to an intended target audience for specific requirements. You could design corporate brochures as a document of the specialities and the achievements of your business among other things. Customised business flyers, product catalogues, presentation folders could be used to promote your company, products and services for promotional campaigns. Our services ensure the materials make the right impression with the right audience.</p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon4.png" data-img-ratio="36:42" alt="" /> Explainer video</h3>
	              <p>An effective method of creating brand awareness and promoting your business is with corporate explainer videos. Videos provide an all-round understanding of your products and services through audio-visual means, which is much easier for most people to understand and remember. We create explainer videos for business that have good production value, are easy to comprehend and helps your business attract more customers. This in turn increases your web traffic and ultimately improves conversion rates.</p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon5.png" data-img-ratio="36:42" alt="" /> Presentation template</h3>
	              <p>Whether you have a business idea you want to pitch to an investor or a client you want to approach, we provide you with rich, precise and informative business presentation templates. We compile the ideas and goals of your company into a comprehensive form which can then be customised for various needs, such as boardroom or client meetings.  These templates help your presentation project a more professional look, while reflecting your unique business identity.</p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon6.png" data-img-ratio="36:42" alt="" /> Custom illustrations</h3>
	              <p>Custom illustrations use a character or a set of designs in various situations to explain what you want to, through well defined visuals. This can help in explaining your products, services, offerings and ideas in a visually interesting fashion. WebGuru's team of illustrators are highly experienced and adept at understanding your requirements. This enables us to deliver the best output for your specifications, helping your business present itself in a better way.</p>
	              <a href="#">View More <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-12 service-block">
	              <p>Our legacy as a brand identity design company extends to 360-degree branding solutions that have been much appreciated by a very large global clientèle. We provide world-class services to build a unique identity for you and create awareness of your brand. This helps attract more people to expand your business. Whether you want to create a stunning logo, presentation template, brochure, or business card, WebGuru is your one-stop shop for all design requirements.</p>
	          </div>

	          <div class="col-sm-8 col-sm-offset-2">
	              <iframe width="100%" height="420" src="https://www.youtube.com/embed/4D8cvLiwQ90?ecver=1" frameborder="0" allowfullscreen></iframe>
	          </div>

	        </div>
	      </div>
	</section>

	<section class="call-us-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-6 col-md-offset-6">
	                <h3>WHAT CAN WE DO FOR YOU? </h3>
	                <p>We would be happy to discuss the project with you in person. <br/> Call us on <span>+919831159354 </span> <a href="#">Drop in a message</a> </p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="why-choose-sec inner-page-why-choose">
	    <div class="container">
	        <div class="row">           
	            
	            <div class="col-sm-12 col-md-8">
	                <div class="row">                    
	                    <div class="col-sm-12 col-md-12">
	                        <h2>Why Choose Us</h2>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon7.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Extensive Research</h3>
	                              <p>We put in thorough research before suggesting solutions.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon8.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Brand Focussed </h3>
	                              <p>We focus on your brand niche to maximise its potential.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon9.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Contemporary Solutions</h3>
	                              <p>Our solutions have contemporary relevance for optimal effectiveness.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon10.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Experienced Team</h3>
	                              <p>Our team has delivered effective solutions to satisfied clients globally.</p>
	                            </div>
	                        </div>
	                    </div>

	                </div>
	            </div>

	            <div class="col-sm-12 col-md-4 hidden-sm hidden-xs">
	                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/common/why-us.jpg" data-img-ratio="374:426" alt="Why Us" />
	            </div>
	            
	        </div>
	    </div>
	</section>

	<section class="portfolio-sec inner-page-portfolio">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	               <h2>Brand Identity Design Portfolio</h2>

	               <div class="project-tab">

	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-onyx.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>ONYX</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-a.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>Aruba</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-chill.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>Chill</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
	                                </div>
	                            </div>
	                        </div>

	                        <div class="col-sm-12">
	                            <ul class="btn-group text-center">
	                              <li><a href="#" class="btn-individual">See our portfolio</a></li>
	                              <li><a href="#" class="btn-individual">Ask For A Quote</a></li>
	                            </ul>
	                        </div>

	                    </div>

	                </div>

	            </div>
	        </div>
	    </div>
	</section>

	<!-- <div class="order-row">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                Get support for all of our projects for 90 days <a href="#">Order Now</a>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="newsletter-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <ul>
	                	<li>SUBSCRIBE TO OUR NEWSLETTER :</li>
	                	<li><input type="text" name=""></li>
	                	<li><input type="submit" value="Sign up"></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div> -->

</div>