<div id="brand-identity-page">
	<section class="inner-page-banner brand-identity-banner">
	  <div class="container">    
	    <div class="banner-inr">
	      <div class="row">
	        <div class="col-sm-9 banner-left-content">
	          <h1>Brand Identity Design</h1>
	          <p>Help your business cut through the noise in the market with our uniquely tailored brand identity design services. Whether it be logo design services, corporate explainer videos or business presentation templates, Webguru provides you all brand identity design services under one umbrella. </p>
	          <ul>
	            <li><a href="#" class="banner-btn">Quick Inquiry</a></li>
	            <li>CALL US: <a href="tel:+913340200844">+91-33-40200844</a></li>
	          </ul>
	        </div>
	        <div class="col-sm-3 banner-right-image">
	          <img class="msd-lazyload" data-src="assets/images/brand-identity/brand-banner-img.png" src="assets/images/blank.gif" data-img-ratio="143:453" alt="" />
	        </div>
	      </div>
	    </div>
	  </div>
	</section>

	<section class="intro-sec">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-7">
	        <h2>Brand Identity Design</h2>
	        <h4>Build an image that inspires other brands</h4>
	        <p>Building a brand from the ground up can be a cumbersome and confusing process. There are so many aspects to take care of – from designing a long-lasting logo to creating business cards, brochures, catalogues, etc. Our goal is to simplify the entire process for you. Here, your zeal meets our passion to churn out the best brand identity design services for your business. </p>
	        <ul class="btn-group">
	          <li><a href="#" class="btn-individual">Request a Quote</a></li>
	          <li><a href="#" class="btn-individual">See our Work</a></li>
	        </ul>
	      </div>
	      <div class="col-sm-5"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-identity-design.jpg" data-img-ratio="435:318" alt="" /></div>
	    </div>
	  </div>
	</section>

	<section class="services-section">
	    <div class="container">
	        <div class="row">
	          
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon1.png" data-img-ratio="36:42" alt="" /> Logo design</h3>
	              <p>One of the major aspects of brand identity design is business logo design. A logo is the the crux of every business – an identity that can make or break people's perceptions about a brand. One of our main goals as a brand identity design agency is to ensure your logos are iconic and last through time without being forgotten. Through our logo design services, we ensure that more people are attracted to your company.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon2.png" data-img-ratio="36:42" alt="" /> Corporate identity design</h3>
	              <p>If you own a business or are looking to start one, corporate identity design can help you go a long way. Every big company pays special attention to corporate brand identity to build their image and to distinguish themselves from the competition. Right from professional business card design to letterhead and custom business envelope design, we provide complete corporate identity design services tailored to your needs.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon3.png" data-img-ratio="36:42" alt="" /> Marketing and promotional material</h3>
	              <p>There are tons of options available for you to market your brand physically. You could design corporate brochure highlighting your brand and your products and sevices. Other things like business flyers, product catalogues and presentation folders also help in promoting your company. Our promotional materials make sure your business appeals to the right audience.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon4.png" data-img-ratio="36:42" alt="" /> Explainer video</h3>
	              <p>One of the most effective ways of creating brand awareness and promoting your business is to create corporate explainer videos. This is because videos provide an all-round understanding of your products and services through an audio-visual medium which people are more likely to remember. We create easy to comprehend explainer videos for business which can attract more people and retain exisiting customers.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon5.png" data-img-ratio="36:42" alt="" /> Presentation template</h3>
	              <p>These days, people are always looking to expand their business and having a professional presentation template design can be useful. Whether you have a business idea you would like to pitch to an investor or a client you want to approach, we can provide you with rich, precise and informative business presentation templates. We compile your ideas and goals into a comprehensive presentation so that you can run your boardroom meetings with ease.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-6 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/icon/icon6.png" data-img-ratio="36:42" alt="" /> Custom illustrations</h3>
	              <p>Made in conjunction with other material such as text, custom Illustrations help in  explaining your products, services and ideas better while also being visually interesting. Our team of Illustrators are highly experienced and are adept at understanding your requirements thus delivering the best output for your specfications.</p>
	              <a href="#">View Packages <i class="fa fa-plus" aria-hidden="true"></i></a>
	          </div>
	          <div class="col-sm-12 service-block">
	              <p>Our legacy as a brand identity design company extends to 360-degree branding services we have already provided to numerous clients across the globe. Through our brand identity solutions, we help attract people, create awareness and expand businesses. Whether you want to design a corporate presentation template, avail brochure design services, create a stunning logo or hire a business card designer, we are your one-stop solution for all brand identity solutions. </p>
	          </div>

	          <div class="col-sm-8 col-sm-offset-2">
	              <iframe width="100%" height="420" src="https://www.youtube.com/embed/4D8cvLiwQ90?ecver=1" frameborder="0" allowfullscreen></iframe>
	          </div>

	        </div>
	      </div>
	</section>

	<section class="call-us-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-5 col-sm-offset-6">
	                <h3>WHAT CAN WE DO FOR YOU? </h3>
	                <p>We are happy to discuss the project with you in person or  just call us at <span>+919831159354</span> <a href="#">CAll Us Now</a> </p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="why-choose-sec">
	    <div class="container">
	        <div class="row">           
	            
	            <div class="col-sm-12 col-md-8">
	                <div class="row">                    
	                    <div class="col-sm-12 col-md-12">
	                        <h2>Why Choose Us</h2>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon7.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Extensive research</h3>
	                              <p>We put in thorough research before suggesting solutions.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon8.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Brand Focussed </h3>
	                              <p>We focus on your brand niche to maximise its potential.</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon9.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Contemporary Solutions</h3>
	                              <p>Our solutions come from a contemporary standpoint for optimal effectiveness</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                        <div class="why-us-pnl">
	                            <span class="why-icon year" style="background-image:url(assets/images/brand-identity/icon/icon10.png)"> </span>
	                            <div class="why-pnl">
	                              <h3>Experienced Team</h3>
	                              <p>Our team has delivered effective solutions to satisfied clients globally. </p>
	                            </div>
	                        </div>
	                    </div>

	                </div>
	            </div>

	            <div class="col-sm-12 col-md-4 hidden-sm hidden-xs">
	                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/common/why-us.jpg" data-img-ratio="374:426" alt="Why Us" />
	            </div>
	            
	        </div>
	    </div>
	</section>

	<section class="portfolio-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	               <h2>Brand Identity Design Portfolio</h2>

	               <div class="project-tab">

	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-onyx.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>ONYX</span><br/> is simply dummy text of the printing.</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-a.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>Aruba</span><br/> is simply dummy text of the printing.</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="project-tab-cont-inr">
	                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/brand-identity/brand-project-chill.jpg" data-img-ratio="348:230" alt="" />
	                                <div class="overlay">
	                                    <a href="#"><span>Chill</span><br/> is simply dummy text of the printing.</a>
	                                </div>
	                            </div>
	                        </div>

	                        <div class="col-sm-12">
	                            <ul class="btn-group text-center">
	                              <li><a href="#" class="btn-individual">See our portfolio</a></li>
	                              <li><a href="#" class="btn-individual">Ask For A Quote</a></li>
	                            </ul>
	                        </div>

	                    </div>

	                </div>

	            </div>
	        </div>
	    </div>
	</section>

	<!-- <div class="order-row">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                Get support for all of our projects for 90 days <a href="#">Order Now</a>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="newsletter-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <ul>
	                	<li>SUBSCRIBE TO OUR NEWSLETTER :</li>
	                	<li><input type="text" name=""></li>
	                	<li><input type="submit" value="Sign up"></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div> -->

</div>