/*Why Us*/
.choose-us-extend{
	/*Why Us*/
	.why-choose-sec {
		padding: 60px 0 35px;
		background: #f7f7f7;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding:30px 0 0;
		}
		@media only screen and (max-width:767px){
			padding: 30px 0 0px;
		}
		h2 {
			margin-bottom: 55px;
			@media only screen and (min-width:768px) and (max-width:991px){
				margin-bottom: 30px;
				font-size: 28px;
			}
			@media only screen and (max-width:767px){
				margin-bottom: 30px;
				font-size: 25px;
			}
		}
		&.inner-page-why-choose{
			h2{
				@media only screen and (min-width:767px) and (max-width:992px){
					font-size: 28px;
					margin-bottom: 30px;
				}
				@media only screen and (max-width:767px){
					font-size: 25px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.why-us-pnl {
		padding-right: 0px;
		padding-bottom: 55px;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding-bottom:30px;
		}
		@media only screen and (max-width:767px){
			padding-bottom: 30px;
		}
		.why-icon {
			width: 80px;
			height: 80px;
			border: 2px solid $color-pink;
			@include border-radius(50px);
			display: block;
			text-align: center;
			line-height: 75px;
			font-size: 40px;
			color: #e72e70;
			@include transition(0.5s);
			float: left;
			@media only screen and (max-width:767px){
				float: left;
			}
		}
		&:hover {
			.why-icon {
				background: #e72e70;
				color: #fff;
			}
			.why-icon.year {
				background-repeat:no-repeat;  
				background-position:center 16px;
				background-color:$color-pink;
			}
			h3 {
				color: $color-pink;
				&::after {
					background: $color-pink;
				}
			}
		}
		.why-icon.year {
			background-position: center -32px;
			background-repeat: no-repeat;
		}
		h3 {
			color: #000000;
			font-size: 18px;
			font-weight: normal;
			position: relative;
			margin-top: 5px;
			&::after {
				position: absolute;
				bottom: -5px;
				left: 0px;
				width: 25px;
				height: 1px;
				background: #d5d5d5;
				content: "";
				@include transition(0.5s);
				@media only screen and (max-width:767px){
					float: left;
					margin-left: 0px;
				}
			}
		}
		p {
			font-size: 16px;
			@media only screen and (max-width:767px){
				display: inline-block;
				width: 100%;
				padding-top: 12px;
			}
		}
		.why-pnl {
			overflow: hidden;
			padding-left: 16px;
		}
	}	
}


/*Portfolio*/
.portfolio-extend{
	.portfolio-sec{ 
		padding: 50px 0 20px; 
		text-align: center;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding:30px 0 30px 0;
		}
		@media only screen and (max-width:767px){
			padding: 30px 0 0;
		}
		h2{ 
			text-align: center; 
			margin-bottom: 40px;
			@media only screen and (min-width:768px) and (max-width:991px){
				margin-bottom: 25px;
				font-size: 28px;
			}
			@media only screen and (max-width:767px){
				margin-bottom: 20px;
				font-size: 25px;
			}
		}
		.project-tab{
			.project-tab-cont-inr{ 
				position: relative; 
				border:4px solid transparent; 
				margin-bottom: 30px;
				@include transition(0.3s);
				@media only screen and (max-width:767px){
					margin-bottom: 10px;
				}
				img{ 
					width: 100%; 
				}
				.overlay{ 
					position: absolute; 
					top: 50%; 
					left: 0px; 
					width: 100%; 
					background: rgba(15, 15, 15, 0.86); 
					opacity: 0; 
					@include transition(0.5s);
					display: flex; 
					vertical-align: middle;
					height: 60px; 
					margin-top: -30px; 
					align-items: center;
					@media only screen and (min-width:768px) and (max-width:991px){
						padding-top: 35px;
					}

					a{ 
						display: inline-block; 
						padding: 9px 0; 
						color: #fff; 
						font-size: 16px; 
						font-weight: 400; 
						width: 100%; 
						text-align: center; 
						text-decoration: none !important;
						@media only screen and (min-width:768px) and (max-width:991px){
							font-size: 12px;
						}
						@media only screen and (max-width:767px){
							font-size:14px;
						}
						&:hover{
							color: #fff; 
							text-decoration: none;
						}
						span{ font-size: 24px; 
							font-weight: bold; 
							text-transform: uppercase;
							@media only screen and (max-width:767px){
								font-size: 16px;
							}
						}
					}
				}
			
			&:hover{ 
				border:4px solid #fff; 
				-webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.59); 
				-moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.59); 
				box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.59);
			}

			&:hover .overlay{ 
				opacity: 1; 
			}

			}
		}
		&.inner-page-portfolio{
			@media only screen and (min-width:768px) and (max-width:991px){
				padding-bottom: 30px;
			}
			@media only screen and (max-width:767px){
				padding-bottom: 30px;
			}
			h2{
				@media only screen and (min-width:768px) and (max-width:991px){
					margin-bottom: 25px;
					font-size: 28px;
				}
				@media only screen and (max-width:767px){
					margin-bottom: 20px;
					font-size: 25px;
				}
			}
			.project-tab{
				.project-tab-cont-inr{
					@media only screen and (min-width:768px) and (max-width:991px){
						margin-bottom: 0px;
					}
					.overlay{
						height: auto;
						margin-top: 0px;
						top: auto;
						bottom: 0px;						
						padding: 10px 15px;
						a{
							font-size: 14px;
							text-align: left;
							span{
								text-transform: none;
								display: block;
								padding-bottom: 6px;
							}
						}
					}
				}
			}
		}
	}
}




// Inner Page Banners
.inner-page-banner-extend{
	.inner-page-banner{ 
		min-height:400px; 
		margin-top:100px; 
		padding-top:100px;		
		background-color:#2f1b56;
		background-position: center;
		background-repeat:no-repeat;
		@media only screen and (max-width:767px){
			background-position: center;
			background-size: cover !important;
			padding: 30px 0;
			min-height: inherit;
			text-align: center;
			margin-top: 80px;
		}		
			h1{ 
				font-size:40px; 
				color:#fff; 
				font-weight:bold; 
				text-transform:uppercase; 
				margin-top:0px;
				@media only screen and (min-width:768px) and (max-width:991px){
					font-size: 30px;
				}
				@media only screen and (max-width:767px){
					font-size: 25px;
				}
			}
			p{ 
				color:#eecbfe; 
				font-size:15px; 
				line-height:22px;
			}
			.banner-inr{ 
				padding:0 130px;
				@media only screen and (min-width:992px) and (max-width:1199px){
					padding: 0px;
				}
				@media only screen and (min-width:768px) and (max-width:991px){
					padding: 0px;
				}
				@media only screen and (max-width:767px){
					padding: 0px;
				}
				.banner-right-image{ 
					text-align:right; 
					padding-top:35px;
					@media only screen and (max-width:767px){
						padding: 0 0 30px 0;
						text-align: center;
					}
					img{
						@media only screen and (max-width:767px){
							max-width: 100px;
						}
					}
				}

				.banner-left-content{ 
					position: relative; 
					min-height:235px;
					@media only screen and (max-width:767px){
						min-height: inherit;
					}
					ul{ 
						list-style: none; 
						margin:0px; 
						padding:0px; 
						position:absolute; 
						left:15px; 
						width:100%; 
						bottom:0px;
						@media only screen and (max-width:767px){
							position: inherit;
							bottom: inherit;
							left: inherit;
							margin: 15px 0 0;
						}

						li{ 
							display: 
							inline-block; 
							padding-right:25px;
							font-size:14px; 
							color:#fff;
							@media only screen and (max-width:767px){
								margin: 15px 0 0;
							}

							a{ 
								color:#fff; 
								text-decoration:none;

								&:hover{
									color:$color-pink;
								}
							}
							a.banner-btn{ 
								padding:0 50px; 
								height:50px; 
								line-height:47px; 
								font-size:14px; 
								color:#fff; 
								text-transform:uppercase; 
								border:1px solid #fff; 
								display:inline-block; 
								@include border-radius(4px); 
								text-decoration:none;

								&.banner-btn:hover{
									background:$color-pink; 
									border-color:$color-pink;
								}
							}
						}
					}
				}
			}
	}
}

// Inner Page Introduction Section
.intro-extend{
	.intro-sec{	
		padding:50px 0; 
		background:#f2f2f2;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding:30px 0;
		}
		@media only screen and (max-width:767px){
			padding:30px 0;
		}
		h2{ 
			margin-top:0px; 
			font-size:30px; 
			color:#052033; 
			font-weight:bold; 
			text-transform:none; 
			margin-bottom: 10px;
			@media only screen and (min-width:768px) and (max-width:991px){
				font-size:28px;
			}
			@media only screen and (max-width:767px){
				font-size:25px;
			}
		}
		h4{ 
			font-size:20px; 
			color:#2c2c2c; 
			margin-bottom:28px;
			@media only screen and (min-width:768px) and (max-width:991px){
				font-size:18px;
			}
			@media only screen and (max-width:767px){
				font-size:18px;
				margin-bottom: 20px;
			}
		}
	}
}

// Inner Page button Group
.btn-group-extend{
	.btn-group{ list-style: none; margin:0px; padding:0px; margin-top:23px;
		li{ 
			display: inline-block; 
			padding-right:10px;
			font-size:14px; 
			color:#fff;
			@media only screen and (max-width:639px){
				padding: 5px;
			}
			a.btn-individual{ padding:0 50px; height:50px; line-height:47px; font-size:14px; color:$color-pink; text-transform:uppercase; border:1px solid $color-pink; display:inline-block; @include border-radius(4px); text-decoration:none;
				&:hover{background:$color-pink; border-color:$color-pink; color:$color-white;}
			}
			&:last-child{
				padding-right:0px;
				@media only screen and (max-width:639px){
					padding-right:5px;
				}
			}
		}
	}	
}


// Inner Page Service Section
.services-extend{
	.services-section{ 
		padding:50px 0;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding:30px 0;
		}
		@media only screen and (max-width:767px){
			padding:30px 0;
		}
		h2{
			@media only screen and (min-width:768px) and (max-width:991px){
				font-size: 28px;
			}
			@media only screen and (max-width:767px){
				font-size: 25px;
			}
		}
		.service-block{
			padding-bottom:50px;
			@media only screen and (max-width:767px){
				padding-bottom: 30px !important;
			}
			h3{ font-size:21px; 
				color:$color-pink; 
				margin:0px 0 8px; 
				font-weight:500;
				display: inline-block;
				width: 100%;
				line-height: 30px;
				@media only screen and (min-width:768px) and (max-width:991px){
					font-size: 18px;
					line-height: normal;
				}
				@media only screen and (max-width:767px){
					font-size: 18px;
					line-height: 40px;
				}
				@media only screen and (max-width:479px){
					line-height: normal;
				}				
				img{
					margin-right:10px;
					float: left;
				}
				span{
					overflow: hidden;
				}
			}
			a{ text-transform:uppercase; 
			   color:$color-pink; 
			   font-family: $heading-font; 
			   font-weight:bold; 
			   line-height:14px;
			   font-size: 15px;
			   letter-spacing: 0.5px;
			   text-decoration: none;
			   @media only screen and (max-width:767px){
			   	margin-top: 20px;
			   	display: inline-block;
			   }

			   &:hover{
			   	color: $color-blue;
			   }
			   
			   i{ font-size:10px; font-weight:100;}
			}
		}
	}
}


// Inner Page Call to us Section
.call-us-extend{
	.call-us-sec{
		background:url(assets/images/brand-identity/call-us-bg.jpg) no-repeat 0 0 #5ca8ef;
		padding:22px 0;
		text-align:left;
		background-size:auto 100%;
		@media only screen and (min-width:768px) and (max-width:992px){
			background-position: center center important;
		}
		@media only screen and (max-width:767px){
			background-position: center center important;
		}

		h3{
			text-transform: uppercase;
			color: #fff;
			font-size: 32px;
			margin: 0px;
			font-family: $body-font;
			font-weight: bold;
			@media only screen and (min-width:992px) and (max-width:1199px){
				font-size: 26px;					
			}
			@media only screen and (max-width:767px){
				font-size: 25px;
			}
		}
		p{
			font-size: 18px;
			color: #fff;
			line-height: 29px;
			margin:0px;

			span{
				font-size: 24px;
				font-weight: bold;
			}

			a{
				padding:0 30px;
				@include border-radius(3px);
				display: inline-block;
				background:$color-pink;
				color: #fff;
				height: 44px;
				line-height: 44px;
				font-size: 15px;
				font-family: $heading-font;
				text-transform: uppercase;
				margin-left: 6px;

				&:hover{
					text-decoration: none;
					background:$color-gray;
					color:$color-pink;
				}
			}
		}
	}
}


// Order Section
.order-row-extend{
	.order-row{
		background:#2f1b56;
		padding:50px 0;
		text-align: center;
		font-size: 20px;
		color: #fff;
		font-family: $heading-font;

		a{
			padding:0 55px;
			@include border-radius(3px);
			display: inline-block;
			background:$color-pink;
			color: #fff;
			height: 53px;
			line-height: 53px;
			font-size: 15px;
			font-family: $heading-font;
			text-transform: uppercase;
			margin-left: 6px;
			letter-spacing: 1px;

			&:hover{
				text-decoration: none;
				background:$color-gray;
				color:$color-pink;
			}
		}
	}
}

// Newsletter

.newsletter-extend{
	.newsletter-sec{
		padding:60px 0;
		text-align: center;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding: 30px 0;
		}
		@media only screen and (max-width:767px){
			padding: 25px 0;
		}
		ul{
			list-style: none;
			margin:0px;
			padding:0px;
			width: 100%;
			li{
				display: inline-block;
				color: $color-pink;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: bold;
				padding:0 10px;
				@media only screen and (max-width:767px){
					width: 100%;
					padding:5px 0;
				}
				input[type="text"]{
					height: 49px;
					padding:0 20px;
					min-width: 600px;
					color:$color-black;
					@include border-radius(3px);
					border:1px solid #cfcfcf;
					@include transition(0.5s);
					@media only screen and (min-width:992px) and (max-width:1199px){
						min-width: 400px;
					}
					@media only screen and (min-width:768px) and (max-width:991px){
						min-width: 200px;
					}
					@media only screen and (max-width:767px){
						min-width: 100%;
						max-width: 500px;
					}
					&:focus{
						outline:none;
						border-color:$color-pink;
					}
				}
				input[type="submit"]{
					padding:0 55px;
					@include border-radius(3px);
					display: inline-block;
					background:$color-pink;
					color: #fff;
					height: 53px;
					line-height: 53px;
					font-size: 15px;
					font-family: $heading-font;
					text-transform: uppercase;
					margin-left: 6px;
					letter-spacing: 1px;
					border:none;
					@include transition(0.5s);

					&:hover{
						text-decoration: none;
						background:$color-gray;
						color:$color-pink;
					}					
				}
			}
		}
	}	
}


// Blog
.blog-extend{
	.blog-sec{	
		padding:50px 0; 
		background:$color-white;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding: 30px 0;
		}
		@media only screen and (max-width:767px){
			padding: 30px 0;
		}
		h2{ 
			margin-top:0px; 
			font-size:30px; 
			color:#052033; 
			font-weight:bold; 
			text-transform:none;
			@media only screen and (min-width:768px) and (max-width:991px){
				font-size: 28px;
			}
			@media only screen and (max-width:767px){
				font-size: 25px;
			}
		}
		h4{ font-size:20px; color:#2c2c2c; margin-bottom:28px;}
		.blog-inner{
			padding: 30px 0 0 0;
			@media only screen and (max-width:767px){
				padding: 20px 0 30px;
			}
			h4{
				margin: 0 0 10px;
				@media only screen and (max-width:767px){
					font-size: 18px;
				}
			}
		}
		.blog-image-holder{
			border: 1px solid #ebebeb;
			padding: 8px;
			@media only screen and (max-width:767px){
				margin: 15px 0;
			}
			img{
				border: 4px solid #f3f3f3;
				width: 100%;
				display: block;
			}
		}
	}	
}


// Certificates
.certificates-extend{
	.certificates-sec{
		padding: 50px 0;
		background: #f7f7f7;
		text-align: center;
		@media only screen and (min-width:768px) and (max-width:991px){
			padding: 30px 0;
		}
		@media only screen and (max-width:767px){
			padding: 30px 0;
		}
		h2{
			margin: 0 0 30px 0;
			@media only screen and (min-width:768px) and (max-width:991px){
				font-size: 28px;
			}
			@media only screen and (max-width:767px){
				font-size: 25px;
			}
		}
		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
			li{
				display: inline-block;
				border: 1px solid $color-gray;
				margin: 0 8px;
				@media only screen and (min-width:768px) and (max-width:991px){
					margin: 5px;
				}
				@media only screen and (max-width:767px){
					margin: 5px;
				}
			}
		}
	}	
}
