// COLOR
$heading-color: #052033;
$color-black: #000000;
$color-white: #ffffff;
$color-pink: #df2466;
$color-yellow: #f2b704;
$color-blue: #029cc0;
$color-gray: #cacaca;


// Fonts
$heading-font:'Yantramanav', sans-serif;
$body-font:'Lato', sans-serif;