<div id="mobile-app-development-page">

<section class="inner-page-banner mobile-app-banner">
  <div class="container">    
    <div class="banner-inr">
      <div class="row">
        <div class="col-sm-3 col-xs-12 banner-right-image pull-right">
          <img class="msd-lazyload" data-src="assets/images/cms-development/cms-development-img.png" src="assets/images/blank.gif" data-img-ratio="143:453" alt="" />
        </div>
        <div class="col-sm-9 col-xs-12 banner-left-content">
          <h1>CMS Web Development</h1>
          <p>Get websites with highly interactive Content Management Systems through our premier CMS web development services at affordable rates.</p>
          <ul>
            <li><a href="#" class="banner-btn">quick inquiry</a></li>
            <li>CALL US: <a href="tel:+913340200844">+91-33-40200844</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="intro-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>CMS Web Development</h2>
        <p>If you wish to maintain an effective online presence through easy management of content then, you have reached the right place. Some of the highlights of our CMS website development service include</p>
        <ul>
        	<li>In-depth and thorough knowledge of advanced CMS solutions like WordPress, Drupal, Joomla, etc.</li>
        	<li>Highly interactive, scalable, robust and cutting-edge CMS website developed to provide your business a unique edge</li>
        </ul>
        <ul class="btn-group">
          <li><a href="#" class="btn-individual">request a quote</a></li>
          <li><a href="#" class="btn-individual">See our Work</a></li>
        </ul>
      </div>
      <div class="col-sm-4 hidden-xs"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/oasis.png" data-img-ratio="486:364" alt="" /></div>
    </div>
  </div>
</section>

<section class="services-section padding-bottom-none">
    <div class="container">
        <div class="row">
        	<div class="col-sm-12 heading-content-holder">
        		<h2>We Provide Smart CMS Solutions</h2>
        		<p>"Content is the King" nowadays for websites with increasing number of prospective customers and users seeking quality content. A good content not only helps with improved search results in search engines but, also gets shared through various social media platforms thus, assisting with better marketing strategies. However, at times it might become difficult for you to manage loads of content in your website. Websites built with CMS turns out to be the ideal solution for you to easily handle large amounts of content without any trouble or difficulty. It helps with easy management of your data on online web portal or website in an effective manner.</p>
        		<p>We strive to offer our clients with speedier and efficient CMS website development services so that they can spend more amount of time on their business operations instead of deleting, adding or editing large amounts of content on their sites. The integrated Content Management System solutions offered by us facilitate improved workflow, speedier modifications as well as higher productivity.</p>
        	</div>
        </div>
      </div>
</section>

<section class="services-section tech-mob-app-sec">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>The Technologies We Use For Mobility Solutions</h2>           
          </div>
        </div>
      </div>
</section>

<section class="call-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h3>WHAT CAN WE DO FOR YOU? </h3>
                <p>We would be happy to discuss the project with you in person <br/> Call us on <span>+919831159354</span> <a href="#">CAll Us Now</a> </p>
            </div>
        </div>
    </div>
</section>

<section class="services-section development-process-sec">
    <div class="container">
        <div class="row">
	        <div class="col-sm-12 heading-content-holder">
	          <h2>Our Open Source CMS Development</h2>
	          <p>"Open Source" means that source codes required for application designing & application are easily available online without any patent or proprietary. Customization is easy with open source along with integration of scripting languages such as C, C++, C#, etc. Components and codes can be re-used for future updates and handling of data becomes much easier and simpler with open source Content Management Systems. Our professionals are experts at CMS web development and have expertise in following tools for the purpose:
</p>
	        </div>          
        </div>
      </div>
</section>

<section class="portfolio-sec inner-page-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <h2>CMS Web Development Portfolio</h2>

               <div class="project-tab">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/custodian.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Custodian</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/bellco.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                     <a href="#"><span>Bellco</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/gear4u.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                     <a href="#"><span>Gear4u</span> Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <ul class="btn-group text-center">
                              <li><a href="#" class="btn-individual">See our portfolio</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<div class="get-suppert-sec" style="background-image:url(assets/images/cms-development/get-suport-bg.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
        <ul>
          <li>Get Support For <span>90 days</span></li>
          <li><a href="#">Request a quote</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="blog-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>From Our Blog</h2>
        <div class="blog-inner">
        	<h4>What to Expect from WordPress 4.7</h4>
        	<div class="blog-image-holder visible-xs">
	      		<img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/ios-or-android.jpg" data-img-ratio="445:271" alt="" />
	      	</div>
        	<p>WordPress 4.7 is right around the corner and if you are feeling a little adventurous, you can try a beta version of the software using a WordPress Beta Tester plugin. Like other beta software, it might have some features which are still work in progress. It is an almost finalized software with a feature set nearly similar to what one can expect in the final release.Let’s go ahead and take a look at some of the functionalities worth looking forward to. Introduction of New Theme Every new...</p>
        	<ul class="btn-group">
	          <li><a href="#" class="btn-individual">Read blog Post</a></li>
	        </ul>
        </div>	        
      </div>
      <div class="col-sm-5 hidden-xs">
      	<div class="blog-image-holder">
      		<img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/cms-development/wordPress.jpg" data-img-ratio="443:271" alt="" />
      	</div>
      </div>
    </div>
  </div>
</section>

<div class="newsletter-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <ul>
	                	<li>SUBSCRIBE TO OUR NEWSLETTER :</li>
	                	<li><input type="text" name=""></li>
	                	<li><input type="submit" value="Sign up"></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

</div>