// Brand Identity Page Style

@import '../../sass-components/variables';
@import '../../sass-components/mixins';
@import '../../sass-components/extends';
@import '../../sass-components/common';

#digital-marketing-page{

	@extend .inner-page-banner-extend;
	@extend .intro-extend;
	@extend .btn-group-extend;
	@extend .services-extend;
	@extend .call-us-extend;
	@extend .choose-us-extend;
	@extend .portfolio-extend;
	@extend .order-row-extend;
	@extend .newsletter-extend;
	@extend .blog-extend;
	@extend .certificates-extend;

	h2{
		color: #052033;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    text-transform: none;
	}

	.digital-marketing-banner{ 
		background:url(../assets/images/digital-marketing/digital-marketing-bg.jpg) no-repeat 0 0 #372163;

		
	}

	.video-holder{
		background:#dfdfdf; 
		padding:15px;
	}
	.services-section{
		.service-block{
			padding-bottom:35px;
		}
	 h2{ margin-bottom:35px;}
	 .services-section-content{
	 	h2{
	 		margin-bottom:20px;
	 	}
	 	h4{
	 		color: #0c0c0c;
	 		font-size: 20px;
	 		font-weight: normal;
	 		margin: 30px 0;
	 	}
	 	&.more-service{
	 		h4{
	 			margin-top: 0px;
	 		}
	 		ul{
	 			list-style: none;
	 			margin:0px 0 20px;
	 			padding:0px;
	 			li{
	 				display: inline-block;
	 				position: relative;
	 				padding-left:10px;
	 				padding-right:15px;
	 				background:url(../assets/images/digital-marketing/icon/icon7.png) no-repeat 0 9px;
	 				a{
	 					color: $color-pink;
	 					font-family: $heading-font;
	 					&:hover{
	 						text-decoration:none;
	 						color:#372163;
	 					}
	 				}
	 			}
	 		}
	 	}
	 }
	}

	

	.newsletter-sec{background: #f3f3f3;}


}