<div id="digital-marketing-page">
	<section class="inner-page-banner digital-marketing-banner">
	  <div class="container">    
	    <div class="banner-inr">
	      <div class="row">
	        <div class="col-sm-9 banner-left-content">
	          <h1>Digital Marketing Services</h1>
	          <p>Get an effective digital marketing strategy with a holistic approach from Webguru, a premier digital marketing company in India and get the best online branding and marketing solutions for your business.</p>
	          <ul>
	            <li><a href="#" class="banner-btn">quick inquiry</a></li>
	            <li>CALL US: <a href="tel:+913340200844">+91-33-40200844</a></li>
	          </ul>
	        </div>
	        <div class="col-sm-3 banner-right-image">
	          <img class="msd-lazyload" data-src="assets/images/digital-marketing/digital-marketing-banner-image.png" src="assets/images/blank.gif" data-img-ratio="143:453" alt="" />
	        </div>
	      </div>
	    </div>
	  </div>
	</section>

	<section class="intro-sec">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-7">
	        <h2>Digital Marketing</h2>
	        <h4>Enhance your business performance with our precise digital marketing services</h4>
	        <p>With the number of active internet users increasing from 6.8% in the year 2000 to 46.1% in 2016, it has become very essential for all companies to tap into the digital market to increase their revenue. People are using their smartphones and laptops now more than ever and by targeting them, a lot of business opportunities can be explored.</p>
	        <p>If you are starting a business, online branding and marketing can provide you with the initial thrust. On the other hand, if you have been in the market for some time now, you can further expand your business with proper digital marketing. There are reasons manifold why digital promotion can effectively turn your sales around.</p>
	        <ul class="btn-group">
	          <li><a href="#" class="btn-individual">request a quote</a></li>
	        </ul>
	      </div>
	      <div class="col-sm-5">
	      	<div class="video-holder">
	      		<iframe width="100%" height="275" src="https://www.youtube.com/embed/4D8cvLiwQ90?ecver=1" frameborder="0" allowfullscreen></iframe>
	      	</div>
	      </div>
	    </div>
	  </div>
	</section>

	<section class="services-section padding-bottom-none">
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-12 services-section-content">
	        		<h2>Benefits of Digital Marketing</h2>
	        	</div>	          
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon1.png" data-img-ratio="36:42" alt="" />Reach Out to a Global Audience</h3>
	              <p>When it comes to digital marketing, geography is not a barrier. You can reach out to people around the world using the right digital marketing tools and thus attract more customers.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon2.png" data-img-ratio="36:42" alt="" /> Create the Interest in People</h3>
	              <p>The power of digital marketing is such that you can build an interest in people. While browsing the internet, a person can always click on an advertisement if he finds it interesting, although he was not looking for it specifically.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon3.png" data-img-ratio="36:42" alt="" /> Easily Compete for the Biggest Spot</h3>
	              <p>For smaller businesses, it is much more difficult to match up to the standards and the customer base of established brands. But when it comes to digital promotion, sky is the limit.</p>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon4.png" data-img-ratio="36:42" alt="" /> Turn Your Business into a Brand</h3>
	              <p>Digital marketing has the power to convert your budding business into a big brand within a short time. As more people visit your website or start using your services, your turnover rockets sky-high.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon5.png" data-img-ratio="36:42" alt="" /> You Save a Lot of Money</h3>
	              <p>Digital marketing is much more cost effective compared to other forms of advertisement like print and electronic media. By using digital marketing you essentially earn a lot more at a minimum expenditure.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/icon/icon6.png" data-img-ratio="36:42" alt="" /> Measure Your Growth Easily</h3>
	              <p>Using digital analytics, you can easily measure the performance. Get exact numbers to check your customer behaviour through a documented report. Hence you can strategize accordingly to further improve your results.</p>
	          </div>

	        </div>
	      </div>
	</section>

	<section class="call-us-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-5 col-sm-offset-6">
	                <h3>WHAT CAN WE DO FOR YOU? </h3>
	                <p>We are happy to discuss the project with you in person or  just call us at <span>+919831159354</span> <a href="#">CAll Us Now</a> </p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="services-section">
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-12 services-section-content">
	        		<h2>Webguru's Extensive Digital Marketing Solutions</h2>
	        		<p>Nothing pleases us more than rendering our digital marketing services to watch our clients rise from a small company to a largescale corporation. For us the growth of our clients is of paramount importance – you talk to us about your business and we make sure it reaches the right audience. As a reputed digital marketing company in India, we provide end-to-end internet marketing services which help increase the engagement and conversion rates for your business.</p>
	        		<h4>Some of our core offerings are mentioned below.</h4>
	        	</div>	          
	          <div class="col-sm-4 service-block">
	              <h3>Search Engine Optimization (SEO)</h3>
	              <p>We help your website reach higher ranks in search results, which improves visibility of your business, draws more visitors and subsequently increases conversion rates on your website. Know more about our SEO services.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3>Social Media Marketing (SMM)</h3>
	              <p>A large number of people actively use social media these days and we can promote your business through these platforms to increase visibility and awareness about your products and services.</p>
	          </div>	          
	          <div class="col-sm-4 service-block">
	              <h3>Google Adwords / Pay-Per-Click (PPC)</h3>
	              <p>Using Google Adwords and the PPC model of advertisement, we can help your business to be discovered by customers when they search for products or services similar to what you offer.</p>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-sm-4 service-block">
	              <h3>Facebook Advertisement Services</h3>
	              <p>Facebook has its own advertisement service and we can help your business get found while people browse through their news feed. This increases brand awareness and drives more conversions.</p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3>You-tube Video Advertisement</h3>
	              <p>YouTube is the largest video sharing and streaming platform in the world. We can effectively market your business to YouTube viewers in the form of video. </p>
	          </div>
	          <div class="col-sm-4 service-block">
	              <h3>App Store Optimization</h3>
	              <p>If you have a mobile app, we offer App Store Optimization (ASO) services which can help your app rank higher in app store search results.</p>
	          </div>
	          <div class="col-sm-12 services-section-content">	        		
	        		<h4>Apart from the various services mentioned above, we offer a few more such as:</h4>
	        		<ul>
	        			<li>Google Adsense</li>
	        			<li>Concept Advertising</li>
	        			<li>Conversion Rate Optimization (CRO)</li>
	        			<li>Bulk SMS Service</li>
	        			<li>A/B Testing</li>
	        			<li>Analytics</li>
	        		</ul>
	        		<p>With an experience of over 10 years as a digital marketing agency, we can offer robust business oriented solutions tailored to your requirements. Our team of Google certified professionals are always willing to assist you in building and nurturing your company and turning it into a brand. Using our effective digital marketing solutions, you can generate leads and drive more sales for your business.</p>
	        	</div>

	        </div>
	      </div>
	</section>

	<section class="certificates-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Webguru's Certifications</h2>
					<ul class="certificate-list">
						<li><a href="#"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/adword.jpg" data-img-ratio="82:66" alt="" /></a></li>
						<li><a href="#"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/blue-print.jpg" data-img-ratio="82:66" alt="" /></a></li>
						<li><a href="#"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/hp.jpg" data-img-ratio="82:66" alt="" /></a></li>
						<li><a href="#"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/google-analytics.jpg" data-img-ratio="165:66" alt="" /></a></li>
						<li><a href="#"><img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/bing-ads.jpg" data-img-ratio="125:66" alt="" /></a></li>						
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="blog-sec">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-7">
	        <h2>Apps V/S Websites- 7 Important Questions to Ponder</h2>
	        <h4>Enhance your business performance with our precise digital marketing services</h4>
	        <p>If you are an entrepreneur looking to make a mark in your chosen domain, making your presence felt in the digital world is the essential factor for success. This essential condition leads to an inevitable dilemma – What should you Build- An App or A Website? Mobile websites are...</p>
	        <ul class="btn-group">
	          <li><a href="#" class="btn-individual">Read blog Post</a></li>
	        </ul>
	      </div>
	      <div class="col-sm-5">
	      	<div class="blog-image-holder">
	      		<img class="msd-lazyload" src="assets/images/blank.gif" data-src="assets/images/digital-marketing/blog-img.jpg" data-img-ratio="445:271" alt="" />
	      	</div>
	      </div>
	    </div>
	  </div>
	</section>

	<div class="newsletter-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <ul>
	                	<li>SUBSCRIBE TO OUR NEWSLETTER :</li>
	                	<li><input type="text" name=""></li>
	                	<li><input type="submit" value="Sign up"></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

</div>