<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">
    <section class="banner" style="background-image:url(assets/images/home/slide1.jpg)">
       <div class="caption1">
           <div class="caption1-top">
             <h1>Make Business Easy With WebGuru</h1>             
           </div>
       </div> 
    </section>
    </div>    

    <div class="item">
    <section class="banner" style="background-image:url(assets/images/home/slider2.jpg)">
       <div class="caption3">
           <div class="container">
             <div class="row">
               <div class="col-sm-12">
                 <h1>Technology <span>we used</span></h1>
                 <ul>

                   <li> <div class="dot">&nbsp;</div> </li>
                   
                   <li>
                      <div class="tech-circle"><img src="assets/images/icon/icon18.png" alt="" /></div>
                      <span>Magento</span>
                   </li>
                   <li>
                      <div class="tech-circle"><img src="assets/images/icon/icon19.png" alt="" /></div>
                      <span>AngularJS</span>
                   </li>
                   <li>
                      <div class="tech-circle"><img src="assets/images/icon/icon20.png" alt="" /></div>
                      <span>Node JS</span>
                   </li>
                   <li>
                      <div class="tech-circle"><img src="assets/images/icon/icon21.png" alt="" /></div>
                      <span>Mongo DB</span>
                   </li>
                   <li>
                      <div class="tech-circle"><img src="assets/images/icon/icon22.png" alt="" /></div>
                      <span>Laravel</span>
                   </li>

                   <li> <div class="dot">&nbsp;</div> </li>

                 </ul>
               </div>
             </div>
           </div>
       </div> 
    </section>
    </div>

    <div class="item">
    <section class="banner" style="background-image:url(assets/images/home/slider3.jpg)">
       <div class="caption2">
           <h1>Ready Solutions <span> For Business Verticals</span></h1>
           <ul>
             <li class="realEstate"><a href="#" class="top-circle"><img src="assets/images/icon/icon15.png" alt="" /></a><a class="bottom-link" href="#">Real estate</a></li>
             <li class="consulting"><a href="#" class="top-circle"><img src="assets/images/icon/icon16.png" alt="" /></a><a class="bottom-link" href="#">Consulting</a></li>
             <li class="e-commerce"><a href="#" class="top-circle"><img src="assets/images/icon/icon17.png" alt="" /></a><a class="bottom-link" href="#">E-commerce</a></li>
           </ul>
       </div> 
    </section>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>

  <div class="caption1-bot">
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <ul>
             <li><a href="#"><i><img src="assets/images/icon/icon10.png" alt="" /></i><span>Website </span><strong>Design</strong></a></li>
             <li><a href="#"><i><img src="assets/images/icon/icon11.png" alt="" /></i><span>Mobile App </span><strong>Development</strong></a></li>
             <li><a href="#"><i><img src="assets/images/icon/icon13.png" alt="" /></i><span>e-Commerce </span><strong>Solutions</strong></a></li>
             <li><a href="#"><i><img src="assets/images/icon/icon14.png" alt="" /></i><span>Digital </span><strong>Marketing </strong></a></li>                          
           </ul>
         </div>
       </div>
     </div>
   </div>
</div>


<div class="mobile-banner visible-xs" style="background-image:url(../assets/images/home/mobile-banner.jpg)">
<div class="caption1-bot">
 <div class="container">
   <div class="row">
     <div class="col-sm-12">
       <ul>
         <li><a href="#"><i><img src="assets/images/icon/icon10.png" alt="" /></i><span>Website </span> <strong> Design</strong></a></li>
         <li><a href="#"><i><img src="assets/images/icon/icon11.png" alt="" /></i><span>Mobile App </span> <strong> Development</strong></a></li>
         <li><a href="#"><i><img src="assets/images/icon/icon14.png" alt="" /></i><span>Digital </span> <strong> Marketing </strong></a></li>                          
       </ul>
     </div>
   </div>
 </div>
</div>
</div>


<div id="home-page">
<section class="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <div class="about-sec-left">
                    <img src="assets/images/common/blank.gif" data-src="assets/images/home/about-us-graphic.jpg" data-img-ratio="407:321" class="msd-lazyload" alt="Responsive Website" />

                    <div class="web-solution-image-carousel">
                        <img src="assets/images/home-technologies/angular.png" />
                        <img src="assets/images/home-technologies/cakephp.png" />
                        <img src="assets/images/home-technologies/magento.png" />
                        <img src="assets/images/home-technologies/mongodb.png" />
                        <img src="assets/images/home-technologies/nodejs.png" />
                        <img src="assets/images/home-technologies/opencart.png" />
                        <img src="assets/images/home-technologies/prestashop.png" />                        
                        <img src="assets/images/home-technologies/ionic.png">                    
                        <img src="assets/images/home-technologies/joomla.png">                    
                        <img src="assets/images/home-technologies/shopify.png">                    
                        <img src="assets/images/home-technologies/wordpress.png">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-sec-right">
                    <h2>Web Solutions <span>since 2005</span></h2>
                    <h6>Website Design, Mobile App Development and Digital Marketing - a 3-dimensional web solution for all your online business needs.</h6>                    
                    <p>WebGuru has an unbeatable track record of consistently providing premium quality web solutions over the past 12 years. As a <strong>website design company</strong>, we stay on top of the latest technology trends and give full commitment towards resolving our clients business requirements and help in maximizing their business growth.</p>
<p>We are proud to present our core offerings of website development, mobile app development and digital marketing solutions. As a <strong>website design agency</strong> we value creating web solutions that build impressionable brands. Connect with us and we can build a dream brand for you or help you get your business to new heights of success.</p>
                    <ul class="step-by-step">
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon23.png" alt="" /></div>
                      <span>Plan</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon3.png" alt="" /></div>
                      <span>Design</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon4.png" alt="" /></div>
                      <span>Develop</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon5.png" alt="" /></div>
                      <span>Marketing</span>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tec-sec visible-xs">
  <div class="container">
    <div id="slider" class="slider-main">
        <div class="slider-inner">
            <div class="clone">
                <div class="slides">
                    <img src="assets/images/home-technologies/angular.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/cakephp.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/magento.png">
                </div>  
                <div class="slides">
                    <img src="assets/images/home-technologies/mongodb.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/nodejs.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/opencart.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/prestashop.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/ionic.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/joomla.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/shopify.png">
                </div>
                <div class="slides">
                    <img src="assets/images/home-technologies/wordpress.png">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<section class="website-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="website-sec-left">
                    <h2>Website<span> Design</span></h2>
                    <h6>Grow your business with our website design services</h6>
                    <img src="assets/images/common/blank.gif" data-src="assets/images/home/responsive-website.png" data-img-ratio="407:321" class="msd-lazyload visible-xs" alt="Responsive Website" />
                    <p>As a <strong>website development company</strong>, WebGuru has rendered <strong>web design</strong> services for varied needs such as e-commerce website design, business websites and web applications. We have provided services to businesses ranging from small start-ups to reputed large scale international corporations.</p>
                    <p>We provide cutting edge <strong>website design services</strong> using the latest web technologies and keep ourselves updated with new methods or tools that bring improvements. We have helped many businesses get an edge over their competition and achieve greater goals with an improved online presence.</p>
                    <a class="button" href="#">READ MORE</a>
                    <ul class="step-by-step">
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon2.png" alt="" /></div>
                      <span>UX</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon24.png" alt="" /></div>
                      <span>UI</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon25.png" alt="" /></div>
                      <span>Graphic</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon26.png" alt="" /></div>
                      <span>Responsive</span>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">                
                <div class="website-sec-right">
                  <img src="assets/images/common/blank.gif" data-src="assets/images/home/responsive-website.png" data-img-ratio="407:321" class="msd-lazyload" alt="Responsive Website" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mob-app-sec">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-5 mob-app-sec-left hidden-xs">                
              <div class="mob-app-slide">
                <div class="owl-carousel owl-theme">
                  <img class="owl-lazy" data-src="assets/images/home/mob-app-development/mobile-app-development-slider.png" alt="Mobile App Development" />
                  <img class="owl-lazy" data-src="assets/images/home/mob-app-development/go-together.jpg" alt="Mobile App Development" />
                  <img class="owl-lazy" data-src="assets/images/home/mob-app-development/travel-app.jpg" alt="Mobile App Development" />                  
                  <img class="owl-lazy" data-src="assets/images/home/mob-app-development/lean.jpg" alt="Mobile App Development" />
                </div>
              </div>
            </div>

            <div class="col-sm-6">
                <div class="mob-app-sec-right">
                    <h2>Mobile<span> App Development</span></h2>
                    <h6>Expand your business with a mobile app</h6>
                    <div class="mob-app-slide visible-xs">
                      <div class="owl-carousel owl-theme ">
                        <img class="owl-lazy" data-src="assets/images/home/mob-app-development/mobile-app-development-slider.png" alt="Mobile App Development" />
                        <img class="owl-lazy" data-src="assets/images/home/mob-app-development/go-together.jpg" alt="Mobile App Development" />
                        <img class="owl-lazy" data-src="assets/images/home/mob-app-development/travel-app.jpg" alt="Mobile App Development" />                  
                        <img class="owl-lazy" data-src="assets/images/home/mob-app-development/lean.jpg" alt="Mobile App Development" />
                        
                      </div>
                    </div>
                    <p>As a Mobile app development company we understand the need for mobility solutions for businesses today. Services on the internet are increasingly being consumed and distributed on smart-phones or tablets. We can help your business use this avenue to grow further. </p>
                    <p>WebGuru Specialises in both Android app development and iOS app development for your needs. We have extensive experience building all kinds of apps ranging from streaming applications to business tools to customer support and much more.</p>
                    <a class="button" href="#">READ MORE</a>
                    <ul class="apps-platform">
                      <li><a href="#"><img src="assets/images/home/android.png" alt="" /></a></li>
                      <li><a href="#"><img src="assets/images/home/ios.png" alt="" /></a></li>
                      <li><a href="#"><img src="assets/images/home/ionic.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="degi-mark-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="degi-mark-sec-left">
                    <h2>Digital<span> Marketing</span></h2>
                    <h6>Boost your sales with an effective digital marketing agency</h6>

                    <p>It is imperative for any business to have a well rounded strategy when establishing their web presence. This is where our digital marketing services can help you immensely. Our Services are one of the most thorough and comprehensive within the market.</p>
                    <p>Whether you are looking for SEO, SMM or PPC services or want to reach out to more people through content marketing, we have it all. We are a digital marketing company that has helped many businesses succeed with our services.</p>
                    <a class="button" href="#">READ MORE</a>
                    <ul class="step-by-step">
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon6.png" alt="" /></div>
                      <span>SEO</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon7.png" alt="" /></div>
                      <span>PPC</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon8.png" alt="" /></div>
                      <span>SMM</span>
                      </li>
                      <li>
                      <div class="circle"><img src="assets/images/icon/icon9.png" alt="" /></div>
                      <span>Display Advertising</span>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 degi-mark-sec-right hidden-xs hidden-sm">                
                <!--<img src="assets/images/animation.png" alt=""/>-->
                <canvas id="heart-anim-Canvas" width="100%" height="100%"></canvas>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <h2>Our <span>Portfolio</span></h2>

               <div class="project-tab">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio1.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio2.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                   <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio3.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio4.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio5.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-tab-cont-inr">
                                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/home/portfolio6.jpg" data-img-ratio="348:230" alt="" />
                                <div class="overlay">
                                    <a href="#"><span>Logo Design Samples</span></a>
                                </div>
                            </div>
                        </div>                        
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<div class="testimonials-header text-center">
  <div class="container">
    <h2>Clients<span> Testimonials</span></h2>
  </div>
</div>
<section class="testi-section" style="background-image:url(assets/images/home/testimonials-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                
                <div class="testi-inner">
                <div class="owl-carousel owl-theme" data-delay="7000">
                    
                    <div class="item">                        
                        <span class="testi-img">
                            <img src="assets/images/home/client-img.jpg" alt="" />
                        </span>
                        <p>“Aliquam imperdiet sapien nec ligula malesuada 
                        sollicitudin vel vel libero. Sed commodo sapien arcu, vitae tempus diam blandit non. 
                        Interdum et malesuada.”</p>
                        <h4>- LANA Doe</h4>
                    </div>
                    <div class="item">                        
                        <span class="testi-img">
                            <img src="assets/images/home/client-img.jpg" alt="" />
                        </span>
                        <p>“Aliquam imperdiet sapien nec ligula malesuada 
                        sollicitudin vel vel libero. Sed commodo sapien arcu, vitae tempus diam blandit non. 
                        Interdum et malesuada.”</p>
                        <h4>- LANA Doe</h4>
                    </div>
                    <div class="item">                        
                        <span class="testi-img">
                            <img src="assets/images/home/client-img.jpg" alt="" />
                        </span>
                        <p>“Aliquam imperdiet sapien nec ligula malesuada 
                        sollicitudin vel vel libero. Sed commodo sapien arcu, vitae tempus diam blandit non. 
                        Interdum et malesuada.”</p>
                        <h4>- LANA Doe</h4>
                    </div>

                </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="clients-sec"> 
  <div class="container-fluid">
    <div class="slider-main">
      <div class="slider-inner">
        <ul class="clone">
          <li class="slides">
            <img src="assets/images/clients-logo/jadavpur-university.png" alt="" />
            <h4>Jadavpur University</h4>
            <span>Kolkata,India</span>
          </li>
          <li class="slides">
            <img src="assets/images/clients-logo/university-calcutta.png" alt="" />
            <h4>University of Calcutta</h4>
            <span>Kolkata,India</span>
          </li>
          <li class="slides">
            <img src="assets/images/clients-logo/i4u-travels.png" alt="" />
            <h4>i4utravels</h4>
            <span>MP,India</span>
          </li>
          <li class="slides">
            <img src="assets/images/clients-logo/yls.png" alt="" />
            <h4>Your Local Stores</h4>
            <span>London, UK</span>
          </li>
          <li class="slides">
            <img src="assets/images/clients-logo/fss.png" alt="" />
            <h4>First Steps Soccer</h4>
            <span>Bristol, UK</span>
          </li>
          <li class="slides">
            <img src="assets/images/clients-logo/aditya-birla-group.png" alt="" />
            <h4>Aditya Birla Group</h4>
            <span>India</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-sec">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-5 col-md-5 hidden-sm hidden-xs">
                <img class="msd-lazyload" src="assets/images/common/blank.gif" data-src="assets/images/common/why-us.jpg" data-img-ratio="374:426" alt="Why Us" />
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="row">                    
                    <div class="col-sm-12 col-md-12">
                        <h2>Why <span>Choose WEBGURU?</span></h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="why-us-pnl">
                            <span class="why-icon year" style="background-image:url(assets/images/home/year-icon.png)"> </span>
                            <div class="why-pnl">
                              <h3>Extensive Experience</h3>
                              <p>Thousands of projects completed for clients globally.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="why-us-pnl">
                            <span class="why-icon year" style="background-image:url(assets/images/home/glob-icon.png)"> </span>
                            <div class="why-pnl">
                              <h3>Global Clientele</h3>
                              <p>Our services attract clients from all over the world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="why-us-pnl">
                            <span class="why-icon year" style="background-image:url(assets/images/home/cost-icon.png)"> </span>
                            <div class="why-pnl">
                              <h3>Cost Effectiveness</h3>
                              <p>Webguru offers services at very reasonable price points</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="why-us-pnl">
                            <span class="why-icon year" style="background-image:url(assets/images/home/dev-icon.png)"> </span>
                            <div class="why-pnl">
                              <h3>150+ Developers</h3>
                              <p>Our team provides quick and effective support 24*7</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</section>

<div class="blog-header text-center">
  <div class="container">
    <h2>Latest From<span> Our Blog</span></h2>
  </div>
</div>

<section class="latest-blog-sec parallax" style="background-image:url(assets/images/home/blog-bg.jpg)">
    <div class="container">
        <div class="row">            
            
            <div class="col-md-6">
                <div class="blog-pnl">
                  <div class="img-holder">
                    <a href="#"><img src="assets/images/home/blog-img.jpg" alt="" /></a>
                  </div>
                  <div class="blog-cont">
                    <span>21 Apr / 2017</span>
                    <a href="#">Top eCommerce Web Design Trends To Embrace In The Futu</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-pnl">
                  <div class="img-holder">
                    <a href="#"><img src="assets/images/home/blog-img2.jpg" alt="" /></a>
                  </div>
                  <div class="blog-cont">
                    <span>19 Apr / 2017</span>
                    <a href="#">Importance of Page Load Speed in 2017...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-pnl">
                  <div class="img-holder">
                    <a href="#"><img src="assets/images/home/blog-img3.jpg" alt="" /></a>
                  </div>
                  <div class="blog-cont">
                    <span>21 Apr / 2017</span>
                    <a href="#">Explainer Video to Demystify your Business in 60 Seconds...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-pnl">
                  <div class="img-holder">
                    <a href="#"><img src="assets/images/home/blog-img4.jpg" alt="" /></a>
                  </div>
                  <div class="blog-cont">
                    <span>21 Apr / 2017</span>
                    <a href="#">How a Marketplace is Raising the Competition in the World of Ecommerce?...</a>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="contact-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                <h2>Contact  <span>Us</span></h2>
                <h4><span>Avail an Unconditional Free Consultation </span></h4>
            </div>            
            <div class="col-sm-12 col-md-6 col-xs-12 pull-right">
                <h3>Drop in a Message</h3>
                <div class="row contact-form">
                    <div class="col-sm-12 col-xs-12">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="input-group">
                          <input type="tel" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="input-group">
                          <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="input-group">
                          <input type="submit" class="submit-btn" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xs-12 hidden-xs">
                <h3>Contact Informations</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h5>

                        <div class="cont-block">
                            <img src="assets/images/home/ind-flag.jpg" alt="" />
                            <div class="cont-block-inr">
                                <p>Y8, Block - EP, Sector V, Salt Lake <br/> Kolkata - 700091, INDIA</p>
                            </div>
                        </div>
                        <div class="cont-block">
                            <img src="assets/images/home/usa-flag.jpg" alt="" />
                            <div class="cont-block-inr">
                                <p>Cottonwood Center <br/>
                                2825 E Cottonwood Parkway Suite 500, Salt Lake City <br/>
                                Utah - 84121</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <h5><i class="fa fa-mobile" aria-hidden="true"></i> Phone</h5>

                        <div class="cont-block">
                            <p><a href="tel:+91-33-40200844">+91-33-40200844</a>, <a href="tel:+91-9831159354">+91-9831159354</a></p>
                        </div>
                        <div class="cont-block">
                            <p><a href="tel:+1-801-990-1229">+1-801-990-1229</a></p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email</h5>
                        <div class="cont-block">
                        <p><a href="mailto:enquiry@webguru-india.com">enquiry@webguru-india.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5><i class="fa fa-whatsapp" aria-hidden="true"></i> Whats aap</h5>
                        <div class="cont-block">
                        <p>+91-8420197208</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xs-12 visible-xs">
                <h3>Contact Informations</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <h5><i class="fa fa-mobile" aria-hidden="true"></i> Phone</h5>

                        <div class="cont-block">
                            <p><a href="tel:+91-33-40200844">+91-33-40200844</a>, <a href="tel:+91-9831159354">+91-9831159354</a></p>
                        </div>
                        <div class="cont-block">
                            <p><a href="tel:+1-801-990-1229">+1-801-990-1229</a></p>
                        </div>

                    </div>
                    
                    <div class="col-sm-6">
                        <h5><i class="fa fa-whatsapp" aria-hidden="true"></i> Whats aap</h5>
                        <div class="cont-block">
                        <p>+91-8420197208</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email</h5>
                        <div class="cont-block">
                        <p><a href="mailto:enquiry@webguru-india.com">enquiry@webguru-india.com</a></p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h5>

                        <div class="cont-block">
                            <img src="assets/images/ind-flag.jpg" alt="" />
                            <div class="cont-block-inr">
                                <p>Y8, Block - EP, Sector V, Salt Lake <br/> Kolkata - 700091, INDIA</p>
                            </div>
                        </div>
                        <div class="cont-block">
                            <img src="assets/images/usa-flag.jpg" alt="" />
                            <div class="cont-block-inr">
                                <p>Cottonwood Center <br/>
                                2825 E Cottonwood Parkway Suite 500, Salt Lake City <br/>
                                Utah - 84121</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>


        </div>

    </div>
</section>

</div>